node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/generated/prisma
deploy
OPENROUTER_API_MIGRATION_PLAN.md

